/*need style for ids = videoTitle, videoImage, videoDescription
style for classes = button (all buttons get class of button?)
assumes h1 is the website title?
*/


/* for h1 font, need to add to html file
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
*/

body{
    
    font-family :Arial, Helvetica, sans-serif;
    
background-color: #F2F7F2;
}

h1 {
    font-size:150px;
    text-align: center;
    
    margin-top:30px;
    margin-bottom:30px;
    padding: 10;
    border: 80px;
    letter-spacing: 10px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
background: #996D6D;
text-shadow: #474747 3px 5px 2px;
color: #FFFFFF;


}

#videoTitle {
    color:rgb(212, 32, 32);
    font-size:70px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#videoRef {
    display: block;
    margin-left: auto;
    margin-right: auto;
height: 800px;
width: 2000px;
    }

#videoDescription {
    color: darkslategray;
    font-size: 40px;
    width: 50%;
    margin: 0 auto;
   
}

button {
    
        color: rgb(255, 255, 255); font-size: 30px; line-height: 30px; padding: 18px; border-radius: 11px; font-family: Georgia, serif; font-weight: 400; text-decoration: none solid rgb(68, 68, 68); font-style: normal; font-variant: small-caps; text-transform: capitalize; background-color: #144E75; box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
        .myButton:hover {
        background: #1C6EA4; }
        .myButton:active {
        background: #144E75; 
        
       
}
h3{
    text-align: center;
}